# linnovate.service
[Unit]
Description = Linnovate Initialization Service
After       = syslog.target

[Service]
Environment = SOFTWARE=Linnovate-Azure-Harbor
ExecStart   = /opt/linnovate/post.sh $SOFTWARE

[Install]
WantedBy=default.target
